[DESIGN]
min-public-methods=1
max-public-methods=20
max-attributes=15
max-args=5
max-locals=19
max-branches=12
max-statements=50
max-line-length=120
max-module-lines=1000
max-parents=3
max-nested-blocks=4
max-returns=6

[MESSAGES CONTROL]
disable=memory_leak_tensor
disable=missing-module-docstring
